*{
    margin: 0%;
    padding: 0%;
}

nav .navbar{
    position: absolute;
    background-color: rgb(250, 250, 250);
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

nav .navbar pre{
    color: green;
    font-size: 150%;
    margin-left: 3%;
}

.main-body{
    position: absolute;
    background-color: white;
    top: 10%;
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-body .domains{
    margin: 2%;
    position: relative;
    background-color: white;
    height: 40%;
    width: 30%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 15px;
}

.main-body .domains .heading{
    position: absolute;
    background-color: rgb(245, 245, 245);
    top: 0%;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 135%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-body .domains .content{
    position: absolute;
    background-color: rgb(252, 252, 252);
    top: 30%;
    height: 50%;
    width: 100%;
    font-size: 120%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.main-body .domains .button{
    position: absolute;
    background-color: rgb(252, 252, 252);
    top: 80%;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-body .domains .button button{
    background-color: rgb(30, 116, 216);
    color: white;
    height: 60%;
    width: 30%;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}