.card-collection {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding-top: 8%;
    padding-left: 17%;
    padding-bottom: 8%;
}

.domains-btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
}
